# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
ENV/
env.bak/
venv.bak/

# Git
.git/

# IDE
.vscode/
.idea/
Idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/